html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.fila-actualizada {
    animation: resaltar 0.4s ease-in-out;
}

@keyframes resaltar {
    from { background-color: #ffeeba; }
    to { background-color: transparent; }
}